body {
    font-family: 'Montserrat', sans-serif;
}

.container-header{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
    background-color: #000033;
}

.header{
    z-index: 1;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%;
    color: #ffffff;
}

.title{
    font-size: 100px;
}

.header-icons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}
